* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 16px;
}

@font-face {
  font-family: GS;
  src: url(fonts/GillSans.ttc);
}
@font-face {
  font-family: PN;
  src: url(fonts/Proxima-Nova-Thin.otf);
}
.site-container {
  max-width: 1280px;
  min-height: 500px;
  margin: 0 auto;
}
.site-container h1 {
  font-size: 60px;
  font-family: PC;
}

h1 {
  font-size: 60px;
  font-family: PC;
}