.home {
  max-width: 1280px;
  margin: 0 auto;

  .hero {
    width: 1280px;
    height: 500px;
    background-image: url(../images/hero.jpg);
    opacity: 0.75;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;

    .title {
      color: white;
      font-size: 60px;
      font-family: PN;
      padding: 170px 0px;
    }

    p {
      width: 484px;
      height: 54px;
      color: white;
      font-size: 20px;
      font-family: GS;
      text-align: justify;
      margin-top: -150px;
      margin-left: 400px;
    }

    .readMore {
      width: 133px;
      @include site-button(0);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 75px;
      margin-left: 574px;
    }
  }
}
